{% extends "admin_layout.html" %}
{% block body %}




<!-- /#sidebar-wrapper -->

<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row" id="accordion" role="tablist" aria-multiselectable="true">
            {% for app in apps %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading{{ app[0] }}">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ app[0] }}" aria-expanded="false" aria-controls="collapse{{ app[0] }}">
                            {{ app[1] }}
                        </a>
                    </h4>
                </div>
                <div id="collapse{{ app[0] }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ app[0] }}">
                    <li><b>BattleTag:</b> {{ app[1] }}
                    <li><b>Armory:</b> {{ app[2] }}
                    <li><b>Logs:</b> {{ app[3] }}
                    <li><b>Can you play different classes:</b> {{ app[4] }}
                    <li><b>Expected attendance:</b> {{ app[5] }}
                    <li><b>What do you do to maintain your character out of raids</b> {{ app[6] }}
                    <li><b>Do you mind being rotated:</b> {{ app[7] }}
                    <li><b>Briefly describe your personality:</b> {{ app[8] }}
                    <li><b>Why do you want to raid in Syn:</b> {{ app[9] }}
                    <li><b>Why should Syn pick you:</b> {{ app[10] }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->


{% endblock %}
